/*--- GLOBAL ---*/
* {
	font-weight: 200;
	font-family: Helvetica;
	outline: 1px dotted #777;
}

body {
	background-color: #555;
	color: white;
}

button {
	border: none;
	border-radius: 3.5px;
}

/*--- HEADER ---*/
header {
	padding: 30px;
}

header h1 {
	margin: 0;
	font-size: 2.5em;
}

header hr {}

/*--- MAIN ---*/
main {}

main div.content-wrapper {
	max-width: 600px;
	margin: 0 auto;
}

/*--- #OPENING-SCREEN ---*/
#opening-screen {
	margin-top: 100px;
	text-align: center;	
}

#opening-screen h3 {
	font-size: 20px;
}

#opening-screen h4 {
	font-size: 20px;
}

#opening-screen .difficulty-buttons {
	font-size: 4px;
}

#opening-screen .difficulty-buttons button {
	font-size: 18px;
	width: 30%; /* 30% * 2 buttons = 60% of container */
	height: 50px;
}

#opening-screen .difficulty-buttons button.easy {}
#opening-screen .difficulty-buttons button.hard {}
#opening-screen button.start-quiz {
	width: 60%;
	height: 50px;
	margin-top: 2px;
}

/*--- #QUESTIONS-SCREEN ---*/
div#questions-screen {
	display: none;
}

#questions-screen div.question {}
#questions-screen div.question h4.question-number {}
#questions-screen div.question div.current-score {}
#questions-screen div.current-score h4 {}
#questions-screen div.current-score ul {}
#questions-screen div.current-score ul li {}
#questions-screen div.question h3.current-question {}
#questions-screen div.answers {}
#questions-screen div.answers ul {}
#questions-screen div.answers ul li {}
#questions-screen div.answers ul li.correct-answer {}
#questions-screen div.answers button.submit {}

/*--- #FEEDBACK-SCREEN ---*/
div#feedback-screen {
	display: none;
}

#feedback-screen h3 {}
#feedback-screen hr {}
#feedback-screen img {}
#feedback-screen p {}
#feedback-screen button.next {}

/*--- #END-GAME-SCREEN ---*/
div#end-game-screen {
	display: none;
}

#end-game-screen h3 {}
#end-game-screen button.replay





