/*--- GLOBAL ---*/

* {
  font-weight: 200;
  font-family: Helvetica;
  outline: 1px dotted #777;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: 
	  linear-gradient( 
	  	rgba(100, 100, 100, 0.8), 
	  	rgba(100, 100, 100, 0.8)),
    url('http://placebear.com/1000/1000');
  background-size: cover;
  background-repeat: no-repeat;
  color: white; 
}

button {
  border: none;
  border-radius: 3.5px;
}

/*--- HEADER ---*/

header {
  padding: 30px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header hr {
}

/*--- MAIN ---*/

main {
}

main div.content-wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 5px;
}

/*--- .OPENING-SCREEN ---*/

.opening-screen {
  margin-top: 100px;
  margin: 100px auto 0;
  max-width: 400px;
  text-align: center;
}

.opening-screen h3 {
  font-size: 24px;
}

.opening-screen .difficulty-buttons {
  font-size: 0;
}

.opening-screen .difficulty-buttons button {
  box-sizing: border-box; /* border: 1px solid; */
  font-size: 18px;
  height: 50px;
  width: 45%; /* 30% * 2 buttons = 60% of container */
}

.opening-screen .difficulty-buttons button.easy {
  border-right: 1px solid #555;
}

.opening-screen .difficulty-buttons button.hard {
  border-left: 1px solid #555;
}

.opening-screen button.start-quiz {
  height: 50px;
  margin-top: 2px;
  width: 90%;
}

/*--- .QUESTIONS-SCREEN ---*/

div.questions-screen {/* margin-top: 50px; */
  font-size: 20px;
  text-align: center;
}

.questions-screen div.question-headers {
  font-size: 16px;
  text-align: left;
}

.questions-screen div.question-headers h4.question-number {
  display: inline;
}

.questions-screen div.question-headers ul.current-score {
  display: inline;
  float: right;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.questions-screen div.question-headers ul.current-score li {
  display: inline;
  margin-left: 15px;
}

.questions-screen div.question-headers ul.current-score li i {
}

.questions-screen h3.current-question {
  font-size: 26px;
  margin: 5px auto;
  text-align: left;
}

.questions-screen ul.answers {
  list-style: none;
  margin: 80px auto 0;
  padding-left: 0;
}

.questions-screen ul.answers li {
  border-radius: 3.5px;
  border: 1px solid red;
  margin: 5px auto;
  padding: 15px 0;
}

.questions-screen ul.answers li.correct-answer {
}

.questions-screen button.submit {
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
}

/*--- .FEEDBACK-SCREEN ---*/

div.feedback-screen {
}

.feedback-screen h3 {
}

.feedback-screen hr {
}

.feedback-screen img {
}

.feedback-screen p {
}

.feedback-screen button.next {
}

/*--- .END-GAME-SCREEN ---*/

div.end-game-screen {
  display: none;
}

.end-game-screen h3 {
}

.end-game-screen button.replay {
}

/*--- INTERACTIVE CLASSES ---*/

/* Hidden class */

.hidden {
  display: none;
}
